.header-btn {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 3px;
  color: #f3f3f3;
  display: block;
  float: left;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-right: 8px;
  min-width: 30px;
  padding: 0;
  position: relative;
  user-select: none;

  &.header-woof {
    background: 0 0;
    box-shadow: none;
    overflow: hidden;
    height: 41px;
    width: 180px;
    top: 10px;

    &:hover {  
		.clifford-talk-left-paw,
		.clifford-talk-right-paw{
			-webkit-animation-name: pawsin;
			-webkit-animation-duration: 300ms;
			-webkit-animation-iteration-count:1;
			-moz-animation-name: pawsin;
			-moz-animation-duration: 300ms;
			-moz-animation-iteration-count:1;
			animation-name: pawsin;
			animation-duration: 300ms;
			animation-iteration-count:1;
			top: 0px;
			z-index:2;
		}
		
		.clifford-talk-small-icon {
			transition-delay:200ms;
		}
    }

    .clifford-talk-small-icon {
      background-image: url('/images/clifford_head.png');
      background-repeat: no-repeat;
      background-size: 50px 45px;
      display: block;
      height: 60px;
      left: 0;
      position: absolute;
      top: 5px;
      -webkit-transition: top 85ms ease-in, margin 85ms ease-in;
      transition: top 85ms ease-in, margin 85ms ease-in;
      width: 60px;
    }

    .left-arrow {
      border-right: 7px solid #cc0033;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      height: 0;
      left: -7px;
      position: absolute;
      top: 8px;
      -webkit-transition: border-right-color 85ms ease-in;
      transition: border-right-color 85ms ease-in;
      width: 0;
    }

    .header-btn-text {
      color: #fff;
      background-color: #cc0033;
      border-radius: 3px;
      line-height: 18px;
      padding: 6px 8px;
      position: absolute;
      left: 56px;
      top: 45px;
      -webkit-transition: top 85ms ease-in, background-color 85ms ease-in;
      transition: top 85ms ease-in, background-color 85ms ease-in;
      white-space: nowrap;

      &:hover {
        color: #fff;
      }

    }

    &.woof-hide {
      width: 0;
      min-width: 0;

      .header-btn-text, .clifford-talk-small-icon {
        top: 45px;
      }
    }
    &.woof-crouch {
      .clifford-talk-small-icon {
        top: 15px;
      }

      .header-btn-text {
        top: 45px;
      }

      &:hover {
        .header-btn-text, .clifford-talk-small-icon {
          top: 0;
        }
      }
    }
    &.woof-up {
      .header-btn-text, .clifford-talk-small-icon {
        top: 0;
      }
    }
  }
}

.clifford-talk-container{
	position:absolute;
	width:180px;
	height:48px;
	overflow:hidden;
}

.clifford-talk-hider{
	width: 180px;
	height:8px;
	top:41px;
	position:absolute;
	background-color:rgb(255,255,255);
	z-index:1;
}

.clifford-talk-right-paw,
.clifford-talk-left-paw{
  height:60px;
  width:60px;
  position:absolute;
  top: 8px;
  background-repeat: no-repeat;
  background-size: 50px 45px;
  background-position: 0px 3px;
  z-index: -50;
}

.clifford-talk-right-paw {
  background-image: url("./images/clifford_paw_right.png");
}

.clifford-talk-left-paw {
  background-image: url("./images/clifford_paw_left.png");
}

@-webkit-keyframes pawsin{
	from{
		top:-2px;
		z-index:-1;
	}
	
	70%{
		top:-8px;
		z-index:1;
	}
	
	to{
		top:0px;
		z-index:2;
	}
}

@-moz-keyframes pawsin{
	from{
		top:-2px;
		z-index:-1;
	}
	
	70%{
		top:-8px;
		z-index:1;
	}
	
	to{
		top:0px;
		z-index:2;
	}
}

@keyframes pawsin{
	from{
		top:-2px;
		z-index:-1;
	}
	
	70%{
		top:-8px;
		z-index:1;
	}
	
	to{
		top:0px;
		z-index:2;
	}
}

@media only screen and (min-width: 751px) and (max-width: 900px) {
  .header-btn {
    &.header-btn-feedback, &.header-woof .header-btn-text {
      display: none;
    }
  }
}

@media only screen and (max-width: 750px) {
	.clifford-talk-hider{
		height:6px;
		background-color:rgb(34,34,34);
	}
	
	.clifford-talk-container{
		height:46px;
	}
}
