@import "bootstrap";
@import "bootstrap/theme";
@import "auth";
@import "mascot";

body {
    padding-top: 70px;
}

.alert {
    .glyphicon {
        padding-right: 5px;
    }
}

#map {
    margin-top: -20px;
    width: 100%;
    height: 600px;
}
