doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Please Login
    link(href='/css/app.css', rel='stylesheet')
  body
    .container
      .card.card-container
       img#profile-img.profile-img-card(src='/images/avatar.png')
       p#profile-name.profile-name-card
    
       include flash
            
       form.form-signin(role='form', method="post", action="/auth/login")
         span#reauth-email.reauth-email
         input#login-username.form-control(type='email', placeholder='Email', name='email', autofocus='')
         input#login-password.form-control(type='password', placeholder='Password', name='password')
         #remember.checkbox
           label
             input(type='checkbox', value='remember')
             |  Remember Me
          button.btn.btn-lg.btn-success.btn-block.btn-signin(type='submit') Login
        a.forgot-password(href='/auth/register')
          | Not registered, click here
