extends ../layout.jade

block content
    h1 Edit Team
    .row
      .col-md-8
        .panel.pan.well
          form(role='form', method='post', action='/admin/teams/edit/#{id}')
            include form

      .col-md-4
        .well
          #profile-picture(style='background-image: url(/images/teams/#{picture}.png)')
            .center-block
              span.btn.btn-file.btn-success
                | Upload Picture 
                input#crop-button(type='file', onchange='fileSelect()')

      #crop-modal.modal.fade
        form(role='form', method='post', action='/admin/teams/picture/#{id}')
          input#image(type='hidden', name='image')
          input#x1(type='hidden', name='x1')
          input#y1(type='hidden', name='y1')
          input#w(type='hidden', name='w')
          input#h(type='hidden', name='h')
          .modal-dialog
            .modal-content
              .modal-header
                a.close(data-dismiss='modal') ×
                h3 Crop Image
              .modal-body
                img#preview
              .modal-footer
                  button.btn.btn-success(type='submit') Upload Image

block js
  script.
    var previewCrop = $('#preview-image');
    var rFilter = /^(image\/jpeg|image\/png)$/i;
    var jCrop;
    
    function updateThumbnail(e) {
        $('#x1').val(e.x);
        $('#y1').val(e.y);
        $('#w').val(e.w);
        $('#h').val(e.h);
    };

    function fileSelect() {
        var teamProfile = $('#crop-button')[0].files[0];
        
        if (!rFilter.test(teamProfile.type)) {
            console.log('Invalid Type!');
            return;
        }
        
        if (teamProfile.size > 1024 * (1024 * 5)) {
            console.log('Image too big!');
            return;
        }
        
        var reader = new FileReader();
        reader.onload = function(e) {
            var image = new Image();
            image.src = e.target.result;
            
            image.onload = function() {
                $('#preview').attr('src', this.src);
                $('#image').val(this.src);
                
                //clear previous
                if (typeof jCrop != 'undefined') {
                    jCrop.destroy();
                    jCrop = null;
                }
                
                $('#preview').Jcrop({
                    minSize: [32, 32],
                    bgFade: true,
                    boxWidth: 568,
                    aspectRatio: (16 / 10),
                    onChange: updateThumbnail,
                    onSelect: updateThumbnail
                });
                    
                $('#crop-modal').modal();
            }
        }
        
        reader.readAsDataURL(teamProfile);
    };
  
