extends ../layout.jade

block content
    h1 Edit Team
    .row
      .col-md-8
        .panel.pan.well
          form(role='form', method='post', action='/admin/teams/edit/#{_id}')
            include form
