doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title JailBreak App
    link(href='/css/app.css', rel='stylesheet')
  body
    
    #map-fullscreen
      
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCOSGdGETZCnG79ZoWuq1JNi3aurSHMU0A')
    script(src='/socket.io/socket.io.js')
    script(src='/js/app.js')
    
    script.
      $( document ).ready(function() {
          var socket = io();
          
          TrackingMap.init('#map-fullscreen');
          TrackingMap.plotAll();
          
          socket.on("reset", function(command){
              TrackingMap.wipe();
              TrackingMap.plotAll();
          });
          
          socket.on("track", function(id){
              TrackingMap.plot(id);
          });
          
          socket.on("highlight", function(id){
              TrackingMap.wipe();
              TrackingMap.highlight(id);      
          });
      });
